* {
    /*aplica a todo*/

    /*padding: 0;   corrige el menu*/
    box-sizing: border-box;
    /* la referencia sera con los bordes!*/
    font-family: sans-serif;
}


html {
    font-size: 1rem;
    height: 100%;
}


header {

    background-color: white;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
}

footer {
    background-color: white;

}

header,
body,
footer,
main {

    /* border: 3px black solid; */
    min-height: 50px;
    min-width: 400px;
    margin: 0.5rem;
    /*medida relativa 1rem es 16px  */


}

body {
    background-color: bisque;
    font-family: "Helvetica neue", Courier, monospace, sans-serif;

}



main {
    background-color: beige;
    min-height: 200px;
    overflow: auto;
}

main>div {
    /* para todo el div hijo directo del main */
    min-height: 180px;
    margin: 0.5rem;
    /* border: 2px blue solid; */
    height: auto;
    float: left;
    width: 65%;
}

main>aside {
    /* para todo el aside hijo directo del main */
    min-height: 180px;
    margin: 0.5rem;
    min-width: 30%;
    float: left;
    width: auto;
    /* border: 2px blue solid; */
}

footer{
    width: 100%;
    background: #f5f5dc;
}

footer .footer_main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

footer .footer_main .tag{
    margin: 10px 0;
}

footer .footer_main .tag img{
    width: 100px;
    margin-bottom: 10px;
}

footer .footer_main .tag p{
    width: 250px;
    line-height: 22px;
    text-align: justify;
}

footer .footer_main .tag h1{
    font-size: 25px;
    margin: 25px 0;
    color: #000;
}

footer .footer_main .tag a{
    display: block;
    color: black;
    text-decoration: none;
    margin: 10px 0;
}

footer .footer_main .tag i{
    margin-right: 10px;
}

footer .footer_main .tag .social_link i{
    margin: 0 5px;
}

footer .footer_main .tag .search_bar{
    width: 230px;
    height: 30px;
    background: rgba(202,202,202);
    border-radius: 25px;
}

footer .footer_main .tag .search_bar input{
    width: 200px;
    padding: 2px 0;
    position: relative;
    top: 17%;
    left: 6%;
    border: none;
    outline: none;
    font-size: 13px;
    background: none;
}

footer .footer_main .tag .search_bar button{
    padding: 7px 15px;
    background: #089da1;
    border: none;
    margin-top: 15px;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: #000;
}

footer .end span{
    color: #089da1;
    margin-left: 10px;
}

.secciones {
    min-height: 50px;
    margin: 0.5rem;
    /* border: 2px green solid */
}

.secciones article {
    /* border: 2px purple solid; */
    margin: 0.5rem;
    min-height: 20px;
}

#gif-ppal {
    width: 100%;
}

#gif-sec {
    width: 25%;
}

/* logo y menu*/

.header-logo {

    display: inline-block;
    margin: 0rem;
}

.header-menubar  {
    /* padding: 0.5rem; */
    margin: 0.5rem 0 0.5rem 1rem;
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block
}

.header-menubar ul {
    list-style: none
}

.header-menubar li {
    float: left;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
}

.header-menubar a {
    text-decoration: none;
    color: black;
    border: 1px rgb(235, 195, 222) solid;
    border-radius: 3px;
    padding: 0.5rem;
    box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
}

.header-menubar :hover {
    color: chartreuse;
}

.header-menubar a li form {
    font-size: 2rem;
    background: transparent;

}

.header-boton {
   
    margin: 0.5rem 0 0.5rem 1rem;
    padding: 0.3rem;
    border: 2px red solid;
    position: relative;
    float: right;
       
}



.navimagen {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
}

#tel {
    /* display: inline-block; */
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Estilos para la sección de novedades con CSS Grid */
.novedades {
    display: flex;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px;
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

/* Estilos adicionales para títulos y descripciones */
.item h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.item p {
    font-size: 1rem;
}
.Contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    background-color: beige;
    

}

h2{
    text-align: center;
    font-size: 48px;
    
    color: black;
}
.Absoluta{
    background-color: blue;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 30px;
    left: 30px;
}
#Card{
    border: 1px inset; color: black;
    margin: 10px;
    padding: 5px;
    width: 270px;
    mask-position: 7px;
    text-align: center;
    border-radius: 5px;
    font: bold;
    
}
.imagencard{
    margin: 10px;
}


/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: #e28e8e;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Estilos para la sección de novedades con CSS Grid */
.novedades {
    display: flex;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual ancho */
    gap: 20px; /* Espacio entre elementos */
    padding: 20px;
   
}

.item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.item img {
    max-width: 100%;
    height: auto;
}

/* ---Series -- */

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 35px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 280px;
    height: 400px;
    text-align: center;
    padding: 5px;
    border: 1px solid #919191;
    margin: auto 20px;
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 5px #089da1;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: #089da1;
    margin-bottom: 18px;
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid #089da1;
    text-decoration: none;
    color: #000;
}

